BODY {
    background-color: #2b1f1f;
    color: #FFF;
    font-family: verdana, arial, helvetica;
}

A {
    color: #bce7e4;
}

#cabecera {
    background: #fff url(images/fondo-cabecera.gif) repeat-x;
}

#titulogeneral img {
    padding: 28px 0 0 0;
}

#buscador {
    background: transparent url(images/fondo-buscador.gif) no-repeat bottom right;
    text-align: right;
}

#buscador input {
    font-size: 8pt;
}

#buscador form {
    padding: 40px 30px 6px 0px;
}

#cuerpo {
    background-color: #000;
}

#navegador {
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

#navegador a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

#navegador ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navegador li {
    float: left;
    margin: 0 20px 0 0;
    padding: 0;
}

.itemportada {
    border: 3px solid #3b1010;
    background-color: #3c2a2a;
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.imagenitemportada {
    float: right;
    margin-left: 10px;
}

.tituloitemportada {
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 6px;
}

.autoritemportada {
    font-size: 8pt;
    margin-bottom: 4px;
}

.introitemportada {}

.comentariositemportada {
    font-size: 8pt;
    margin-top: -10px;
}

.titlateral {
    background-color: #4b0d0d;
    padding: 10px;
}

.cuerpolateral {
    background: #612323 url(images/fondo-cuerpo-lateral.gif) repeat-x;
    overflow: hidden;
    padding: 10px 7px 10px 7px;
    margin-bottom: 15px;
}

.imagencuerpolateral {
    float: left;
}

.cuerpolateral form {
    margin: 0px;
}

.cuerpolateral form span {
    display: block;
    margin: 5px 0 5px 0;
}

.textocuerpolateral {
    margin-left: 110px;
}

.cuerpolateral input {
    font-size: 8pt;
}

.cuerpolateral ul {
    list-style-type: none;
    margin: 15px 0 0 0;
    padding: 0;
}

.cuerpolateral li {
    padding: 0 0 0 20px;
    margin: 0 0 6px 0;
    background: transparent url(images/estrellita.png) no-repeat scroll 0 4px;
}

.nube {
    font-size: 10px;
    text-align: center;
}

.nube span.etiqueta1 {
    font-size: 100%
}

.nube span.etiqueta2 {
    font-size: 120%
}

.nube span.etiqueta3 {
    font-size: 140%
}

.nube span.etiqueta4 {
    font-size: 160%
}

.nube span.etiqueta5 {
    font-size: 180%
}

.nube span.etiqueta6 {
    font-size: 200%
}

.nube span.etiqueta7 {
    font-size: 220%
}

.nube span.etiqueta8 {
    font-size: 240%
}

.nube span.etiqueta9 {
    font-size: 260%
}

.nube span.etiqueta10 {
    font-size: 280%
}

.nube a {
    color: #fff;
    text-decoration: none;
}

.titcaja2 {
    margin: 10px 0 0 3px;
}

.cuerponoticias {
    line-height: 20pt;
}

.otrasecciontit {
    margin-bottom: 3px;
    font-weight: bold;
}

.cuerpocaja2 {
    border: 2px solid #929191;
    padding: 10px;
}

.cajacomunidad {
    background-color: #333333;
    padding-right: 0px;
    padding-left: 2px;
}

#enlacespie {
    font-size: 8pt;
    margin: 6px 0 10px 0;
}

#enlacespie a {
    color: #fff;
}

#logopie {
    margin: 8px 0 10px 10px;
}

#pie {
    background-color: #260505;
}